html, body {
    background-color: #CCC;
}

#logo-box {
    position: absolute;
    width: 122px;
    height: 65px;
    border: 1px dotted red;
}

#j {
    position: absolute;
    left: 0px;
    top: 0px;
}

.j-out {
    height: 70px;
    width: 20px;
    border-radius: 0px 0px 40px 0px;
    border-top: 0px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 0px solid transparent;
    border-right: 2px solid black;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

.j-in {
    height: 42px;
    width: 0px;
    border-radius: 0px 0px 0px 0px;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 2px solid black;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

.e {
    height: 36px;
    width: 20px;
    border-radius: 0px 0px 0px 0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 0px solid transparent;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

#e-dash {
    position: absolute;
    left: 0px;
    top: 20px;
    height: 0px;
    border-top: 2px solid black;
}

.e-hidden {
    width: 0px;
    opacity: 0;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

.e-shown {
    width: 15px;
    opacity: 1;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

#n {
    position: absolute;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.n-itial {
    top: 0px;
    left: 32px;
    transform: rotate(0deg);
    height: 40px;
    width: 20px;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

.n-d {
    top: 10px;
    left: 24px;
    transform: rotate(90deg);
    height: 20px;
    width: 36px;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

#n-slash {
    position: absolute;
    top: 0px;
    height: 40px;
    border-left: 2px solid black;
}

.n-itial-slash {
    transform: skewX(27deg);
    left: 43px;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

.n-d-slash {
    transform: skewX(-27deg);
    left: 43px;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

#s1 {
    position: absolute;
    left: 66px;
    top: 0px;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.s1-init {
    height: 25px;
    width: 20px;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    border-radius: 10px 10px 10px 0px;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

.s1-inter {
    height: 18px;
    width: 18px;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    border-radius: 10px 10px 10px 0px;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

.s1-end {
    height: 18px;
    width: 18px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0px 10px 10px 0px;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

#s2 {
    position: absolute;
    border-right: 2px solid black;
}

.s2-init {
    top: 11px;
    height: 25px;
    left: 64px;
    width: 20px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: 2px solid black;
    border-radius: 10px 0px 10px 10px;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

.s2-inter {
    top: 20px;
    height: 18px;
    left: 66px;
    width: 18px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: 2px solid black;
    border-radius: 10px 0px 10px 10px;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

.s2-end {
    top: 20px;
    height: 18px;
    left: 66px;
    width: 18px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 0px solid transparent;
    border-radius: 0px 10px 0px 0px;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

#s3 {
    position: absolute;
    left: 66px;
    height: 0px;
}

.s3-init {
    transform: skewY(-36deg);
    top: 18px;
    width: 22px;
    border-top: 4px solid black;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

.s3-inter {
    transform: skewY(0deg);
    top: 20px;
    width: 22px;
    border-top: 2px solid black;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

.s3-end {
    transform: skewY(0deg);
    top: 20px;
    width: 0px;
    border-top: 2px solid black;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

#q1 {
    position: absolute;
    left: 98px;
    top: 0px;
    width: 20px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

.q1-init {
    height: 36px;
    border-bottom: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

.q1-inter {
    height: 36px;
    border-bottom: 2px solid black;
    border-radius: 10px 10px 0px 0px;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

.q1-end {
    height: 38px;
    border-bottom: 0px solid transparent;
    border-radius: 10px 10px 0px 0px;
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

#q2 {
    position: absolute;
}

.q2-init {
    top: 32px;
    height: 8px;
    left: 114px;
    width: 0px;
    border-left: 4px solid black;
    border-top: 0px solid transparent;
    transform: skewX(45deg);
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

.q2-inter {
    top: 38px;
    height: 0px;
    left: 100px;
    width: 20px;
    border-left: 0px solid transparent;
    border-top: 2px solid black;
    transform: skewX(0deg);
    transition: all 200ms;
    -webkit-transition: all 200ms;
}

.q2-end {
    top: 20px;
    height: 0px;
    left: 100px;
    width: 20px;
    border-left: 0px solid transparent;
    border-top: 2px solid black;
    transform: skewX(0deg);
    transition: all 200ms;
    -webkit-transition: all 200ms;
}